# Core ML and CV libraries
torch==1.8.0
torchvision==1.8.0
ultralytics
opencv-python
supervision
numpy

# ONNX Runtime for model inference
onnx==1.11.0
onnxslim
onnxruntime==1.11.0
onnxruntime-gpu==1.11.0

# Dataset and utilities
roboflow
Pillow
tqdm